body {
  background-color: #0799c4;
  font-family: "Segoe UI", sans-serif;
  color: #17191c;
  margin: 0;
  text-align: center;
}

/* main container styling */
.container {
  width: 100%;
  max-width: 1080px;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-right: auto;
  margin-left: auto;
  background-color: #b9eee9;
  border: none;
  border-radius: 16px;
  padding: 15px;
}

/* header image */
.head-img {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  border-radius: 15px;
}

.head-img-caption {
  text-align: right;
  font-size: 12px;
  font-style: italic;
}

/* navigation styling */

.nav-list li {
  display: inline;
  list-style: none;
  padding: 0 15px;
  font-weight: bold;
}

.nav-list li a {
  text-decoration: none;
  color: #d8dadf;
}

.nav-bar {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #0799c4;
  border-radius: 15px;
}
